#container {
	width: 980px;
	margin: 0 auto;
	font-family: arial, verdana, 'sans serif';
	}

#header{
	display:block;
	height:100px;
	background: -webkit-linear-gradient(#E8E8E8, #FFFFFF); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#E8E8E8, #FFFFFF); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#E8E8E8, #FFFFFF); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#E8E8E8, #FFFFFF); /* Standard syntax */
  	margin: 0px;
}

#logo {
	display: inline-block;
	width:550px;
	height:100px;
	background: url(../images/logo.png) no-repeat;
	vertical-align: bottom;	
}

#tollfree {
	display: inline-block;
	position:relative;
	bottom:30px;
	left:70px;
	width:400px;
	height: 50px;
	font-size: 1.2em;
	color: #333333;
}

#navbar {
	display:block;
	position:relative;
	bottom: 8px;
	border-top: solid 1px #DDDDDD;
	background: -webkit-linear-gradient(#F0F3F5, #D9DFE4, #EFF2F5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F0F3F5, #D9DFE4, #EFF2F5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F0F3F5, #D9DFE4, #EFF2F5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F0F3F5, #D9DFE4, #EFF2F5); /* Standard syntax (must be last) */
	height:35px;
	font-size:.8em;
	font-weight:bold;
}

#navbar li{
	display: inline;
	border-left: ridge 1px #CCCCCC;
	padding: 14px 0 8px 0 ;
}

#navbar li.last {
	border-right: ridge 1px #CCCCCC;
}

#navbar a {
	text-decoration: none;
	color: #666666;
	padding-right: 10px;
	margin-left:10px;
}

#content {
background: url(../images/background.png)repeat-y;
}

#featured {
	display:block;
	height:280px;
	padding-top:20px;
	margin: 0 20px;
}

#hero-image {
	display: inline-block;
	vertical-align: top;
	width: 377px;
	height:255px;
	background: url(../images/main_pic.png);
	border: solid 5px #ffffff;
}

#hero-image img.main {
 	border: solid 2px: #ffffff !important;
}

#featured-text {
	display: inline-block;
	position: relative;
	left:20px;
	width: 520px;
	background: url(../images/featured_bg.png);
}

#featured-text p {
	padding: 0 8px;
	color: #FFFFFF;
	font-size:.8em;
	font-weight:300;
}


h1.featured-heading {
	display: block;
	position: relative;
	bottom:10px;
	height:20px;
	padding: 7px 0 0 10px;
	background: -webkit-linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEC72F 70%, #FCCF58 15% , #FBD15B 15%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* Standard syntax (must be last) */
    font-size:1em;
    color: #333333;
}

h2.featured-subtitle {
	color: #FFFFFF;
	font-size: 1em;
	font-weight: 400;
	margin-left:10px;
}

#newsflash {
	display: block;
	position:relative;
	left:20px;
	background: url(../images/tiny_logo.png) no-repeat;
	color: #FAD15B;
	font-size: .7em;
}

#newsflash span {
	padding-left: 70px;
}

#featured-modules{
	display: block;
	padding: 15px 19px;
}

#featured-modules div.featured{
	display: inline-block;
	vertical-align: top;
	width: 222px;
	border: solid 1px #333333;
	height:230px;
	margin-right:8px;
	background-color:#FEF8EA;
}

span.module-title {
	display:block;
	height:20px;
	background: -webkit-linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#FEC72F 70%, #FCCF58 15% , #FBD15B 15%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#FEC72F 70%, #FCCF58 15%, #FBD15B 15%); /* Standard syntax (must be last) */
    font-size: .7em;
    font-weight:bold;
    color: #333333;
    padding-left:10px;
    padding-top:3px;
}

#module-img {
	display:inline-block;
	width:222px;
	height:99px;
}

#readmore {
	display: block;
	position: relative;
	left:100px;
}

span.module-text {
	display:block;
	font-size: .6em;
	margin-bottom: 10px;
	padding-left:10px;
	}