/*buttons*/
.login-btn {
	background-color: #0097E7;
	border-radius: 8px;
	font-size: 12px;
	color: white;
	padding: 3px 12px 3px 12px;
}

.blue-btn {
	background-color: #0097E7;
	border-radius: 8px;
	font-size: 14px;
	color: white;
	padding: 6px 55px 6px 55px;	
	margin-bottom: 5px;
}

.orange-btn {
	background-color: #FF6C00;
	border-radius: 8px;
	font-size: 14px;
	color: white;
	padding: 6px 75px 6px 75px;	
	margin-bottom: 5px;
}

.ad-btn {
	background-color: #03588D;
	border-radius: 8px;
	font-size: 14px;
	color: white;
	padding: 6px 10px 6px 10px;	
	margin-bottom: 5px;
}

.get-started {
	background-color: #96C62C;
	border-radius: 8px;
	font-size: 14px;
	color: white;
	padding: 10px 30px 10px 30px;	
	margin-bottom: 5px;
}

/*Box ID's*/
h1 {
	font-family: 'arial';
	color: grey;
}
h1 span {
	color:#0078C4;
}

.nav {
	border-style: solid;
	border-width: 1px;
	border-color: #9A9B9C; 
	border-radius: 0px 0px 8px 8px;
	background-color: #F9F9F9;
	margin: 0px 20px 8px 0px;
	padding: 3px 10px 7px 10px;
}

.nav a {
	color: #9A9B9C;
	font-size: 11px;
	text-decoration: none;
}



.title {
	font-size: 30px;
	font-family: 'arial';
	vertical-align: top;
	margin: 10px;
}

p {
	font-size: 12px;
	font-family: 'arial';
	margin: 2px 0px 2px 0px;
}
#header {
	vertical-align: top;
	background-color: #0078C4;
	padding: 15px 0px 15px 0px;
	margin-bottom: 15px;
}

.top-side {
	margin-top: 50px;

}

.header-text {
	color: white;
	font-size: 24px;
	font-family: 'arial';
	vertical-align: top;
	margin: 0px;
}

.home-logo {
	display: inline-block;
	vertical-align: top;
	margin-right: 430px;
	}


.main-top img {
	vertical-align: top;
}

.ppc {
	vertical-align: top;
	margin: 6px 0px 6px 0px;
	font-size: 14px;
	color: #005EA8;
}

.light-grey {
	color: grey;
	font-size:12px;
	font-family: 'arial';
	margin: 0px;
	display: inline-block;
}

.phone-info {
	width: 165px;
	display: inline-block;
	margin-left: 8px;
	text-align: left;
}
.phone-num {
	font-size: 26px;
	font-family: 'arial';
	color: #6DCFF2;
	margin: 0px;
}

.phone img {
	display: inline-block;
}

.sidebar-text {
	font-size: 18px;
	color: #0097E7;
	margin-bottom: 6px;
}


/*ID and class css at top.*/
#container {
	width:970px;
	
}

div {
	outline: red solid;

}

#nav {
	text-align: right;
	width: 970px;
	display: block;
}

#logo, #header {
	width: 970px;
}

#sidebar {
	width: 220px;
	display: inline-block;
	margin-right: 30px;
}

#main {
	width: 710px;
	display: inline-block;
	vertical-align: top;
}

.main-top p {
	display: inline-block
}

.phone {
	display: inline-block;
	width:200px;
}

.title {
	display: inline-block;
}

.nav {
	display: inline-block;
	text-align: right;	
}

.inner-box img {
	/*display: inline-block;*/
	border: red solid;
	vertical-align: top;
}

.inner-box {
	display: inline-block;
	width: 630px;
	border: red solid;
}

.ruler-image {
	background: url("../screen3-images/left_content_ad.png");
	background-size: 180px 250px;
	height: 250px;
	width:180px;
}

.inner-deep {
	display: inline-block;
	width: 500px;
}

h2 {
	color: #0097E7;
	font-size: 18px;
}
.inner-box h2 {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	border: red solid;
	font-size: 16px;
}

.inner-box p {
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	border: red solid;
}


/*
.main-body-inner p {
	display: inline-block;
	border: red solid;
	width: 300px;
}*/
/*


.search {
	width: 300px;
	display: inline-block;
	position: absolute;
	right: 0px;
	text-align: right;
	margin-right: 40px;

}*/

/*
.nav {
	font-family: "verdana";
	font-weight: bold;
	font-size: 12px;
	color: #6C635C;
	margin: 0;
	padding: 3px 0px 3px 0px;
}

.nav a {
	color:#9CA8B3;
	text-decoration: none;

}

#sidebar ul {
	color: #a01b2c;
}

.search p {
	color: white;
	font-size: 11px;
	margin-top: 5px;

}

.search p a {
	color: yellow;
}

#btn {
	background-color: #a01b2c;
	border-radius: 0px;
	color: white;
	outline: white solid 1px;
	border: 2px;
	padding: 1px 2px 1px 2px;
	font-size: 10px;

}



.logo {
	width: 500px;
	display: inline-block;
}

.search {
	width: 300px;
	display: inline-block;
	position: absolute;
	right: 0px;
	text-align: right;
	margin-right: 40px;

}

#header-bottom {
	background-color: #EAEAEA;
	width: 970px;
	display: block;
	margin-bottom: 20px;
}



#sidebar {
	background-color: #EEEEEE;
	width: 160px;
	margin-right: 20px;
	vertical-align: top;
	display: inline-block;
	outline: grey solid 1px;
}

#main {

	width: 710px;
	display: inline-block;
	vertical-align: top;
	display: inline-block;
	margin-bottom: 20px;
}



#main ul li {
	margin-right: 12px;

}

#main ul li p {
	margin: 2px 0px 2px 0px;

}

#footer {
	background-color: #DDDDDD;
	border-radius: 20px;
	width: 970px;
	padding-top: 15px;
	padding-bottom: 15px;
}

h1 {
	width: 200px;
	display: inline-block;
	color: white;
	font-size: 20px;
	font-family: "lucida console", times, serif;
	position: relative;
	vertical-align: top;
	display: inline-block;
	margin-top: 25px;

}

h2 {
	color:#a01b2c;
	font-family: "verdana";
	font-size: 16px;
	margin-top: 0;

}


h3 {
	color:#a01b2c;
	font-family: "verdana";
	font-size: 12px;

}

hr {
	font-weight: bold;
}

img {
	margin-left: 20px;
}

a {
	color: #a01b2c;
}

p {
	font-family: "verdana";
	font-size: 12px;
}

li {
	font-family: "verdana";
	font-size: 12px;

}
